/*==========================================================================
CALENDAR
==========================================================================*/

.restrictions__row .restrictions__content .bootstrap-datetimepicker-widget {
	position: absolute;
	z-index: 1;
	width: 384px;
	padding: 0;
	margin: 0 0 -2px;
	border: 2px solid $color3;
	background-color: $color7;
	font-family: $font-bold;
	font-size: 0.875rem; /* =14px */
	line-height: 1.15;
	text-transform: uppercase;

	.list-unstyled {
		list-style: none;
		padding: 0;

		li {

			&.collapse {
				display: none;
				visibility: hidden;
			}

			&.in {
				display: block;
				visibility: visible;
			}

			&.collapsing {
				position: relative;
				height: 0;
				overflow: hidden;
				-webkit-transition: height 0.35s ease;
				-o-transition: height 0.35s ease;
				transition: height 0.35s ease;
			}

			&.picker-switch.accordion-toggle {
				.icon {
					color: $color1;

					&:hover {
						background:none;
						color: $color3;
					}
				}
			}
		}

		table {
			display: block;
			width: auto;
			padding-top: 1rem;
			padding-left: 12px;
			padding-right: 12px;
			background-color: $color7;

			thead {
				display: block;

				tr {
					display: block;

					th {
						display: inline-block;
						vertical-align: middle;

						// Button previous and next on header
						&.prev, &.next {
							border: 2px solid $color8;
							border-radius: 0;
							box-sizing: border-box;
							width: 98px;
							height: 2rem; /* =32px */
							padding: 0;
							line-height: 2rem; /* =32px */
							color: $color4;

							.icon {
								display: inline-block;
								vertical-align: middle;
								line-height: 2rem; /* =32px */;
							}

							&:hover {
								border-color: $color3;
								background: none;

								.icon {
									color: $color3;
								}
							}
						}

						// Header Month, Year, Decade
						&.picker-switch {
							margin: 1rem 8px;
							border-radius: 0;
							width: 148px;
							height: 2rem; /* =32px */
							padding: 0;
							background-color: $color8;
							font-family: $font-bold;
							line-height: 2rem; /* =32px */
							color: $color1;
						}
					}
				}
			}

			tbody {
				display: block;

				tr {
					display: block;

					td {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}

		// Calendar with days
		.datepicker-days {
			.table-condensed {
				height: 17.75rem; /* =284px */

				// Header Days of the week
				.dow {
					box-sizing: border-box;
					border-bottom: 2px solid $color8;
					border-radius: 0;
					width: 48px;
					height: 3rem; /* =48px */
					padding: 0;
					line-height: 3rem;
					color: $color4;
				}

				.day {
					box-sizing: border-box;
					border: 2px solid $color7;
					width: 48px;
					height: 2.125rem; /* =34px */
					padding: 0;
					color: $color1;
					line-height: 2.125rem; /* =34px */

					&.active {
						background: none;
						border-color: $color3;
						border-radius: 0;
						color: $color3;
					}

					&:hover {
						background:none;
						color: $color3;
					}

					&.old {
						visibility: hidden;
					}

					&.new {
						display: none;
					}
				}
			}
		}

		// Calendar with months
		.datepicker-months {
			.table-condensed {
				height: 17.75rem; /* =284px */
			}

			.month-tag {
				display: block;
				box-sizing: border-box;
				border-bottom: 2px solid $color8;
				border-radius: 0;
				width: 100%;
				height: 3rem; /* =48px */
				padding: 0;
				line-height: 3rem; /* =48px */
				text-align: center;
				color: $color4;

				&:hover {
					background: none;
					cursor: auto;
				}
			}

			td {
				width: 100%;

				.month {
					margin: 0;
					border-radius: 0;
					width: 88px;
					height: 2.125rem; /* =34px */
					line-height: 2.125rem; /* =34px */
					color: $color1;

					&.active {
						background:none;
						border: 1px solid $color3;
						border-radius: 0;
						color: $color3;
					}
					&:hover {
						background:none;
						color: $color3;
					}
				}
			}
		}

		// Calendar with years
		.datepicker-years {
			.table-condensed {
				height: 17.75rem; /* =284px */
			}

			.year-tag {
				display: block;
				box-sizing: border-box;
				border-bottom: 2px solid $color8;
				border-radius: 0;
				width: 100%;
				height: 3rem; /* =48px */
				padding: 0;
				line-height: 3rem; /* =48px */
				text-align: center;
				color: $color4;

				&:hover {
					background: none;
					cursor: auto;
				}
			}

			td {
				width: 100%;

				.year {
					margin: 0;
					box-sizing: border-box;
					border: 1px solid $color7;
					border-radius: 0;
					width: 88px;
					height: 2.125rem; /* =34px */
					line-height: 2.125rem; /* =34px */
					color: $color1;

					&.active {
						background:none;
						border-color: $color3;
						border-radius: 0;
						color: $color3;
					}
					&:hover {
						background:none;
						color: $color3;
					}
				}
			}
		}

		// Calendar with time (hour and minute)
		.timepicker {
			background-color: $color7;

			// General view mode for time
			.timepicker-picker {

				.table-condensed {
					padding-bottom: 0.5rem; /* =8px */
					tr {
						display: block;

						td {
							display: inline-block;
							vertical-align: middle;
							width: auto;

							// Button increase/ decrease time
							.btn {
								display: inline-block;
								vertical-align: middle;
								margin-left: 80px;
								height: 2rem; /* =32px */
								line-height: 2rem; /* =32px */
								padding: 0;

								.icon {
									margin: 0;
									border: 2px solid $color8;
									border-radius: 0;
									box-sizing: border-box;
									width: 98px;
									height: 2rem; /* =32px */
									line-height: 2rem; /* =32px */
									color: $color4;

									&:hover {
										border-color: $color3;
										background:none;
										color: $color3;
									}
								}
							}

							.timepicker-hour, .timepicker-minute {
								border-radius: 0;
								width: 98px;
								height: 2rem; /* =32px */
								line-height: 2rem; /* =32px */
								background-color: $color8;
								color: $color1;
							}

							.timepicker-hour-tag, .timepicker-minute-tag {
								width: 77px;
								color: $color5;

								&:hover {
									cursor:auto;
									background: none;
								}
							}

							&.separator {
								display: none;
							}
						}
					}
				}
			}

			// View to select hours
			.timepicker-hours {
				.hour {
					box-sizing: border-box;
					border: 2px solid $color7;
					border-radius: 0;
					width: 88px;
					height: 2.125rem; /* =34px */
					color: $color1;

					&:hover {
						border-color: $color3;
						background: none;
						color: $color3;
					}
				}

			}

			// View to select hours
			.timepicker-minutes {
				.minute {
					box-sizing: border-box;
					border: 2px solid $color7;
					border-radius: 0;
					width: 88px;
					height: 2.125rem; /* =34px */
					line-height: 2.125rem; /* =34px */
					color: $color1;

					&:hover {
						border-color: $color3;
						background: none;
						color: $color3;
					}
				}
			}
		}
	}
}