/*==========================================================================
CONTAINER
==========================================================================*/
.content {
	padding: 0 58px;
}

.container {
	float: left;
	width: 40%;

	&.container--login {
		padding-top: 1.25rem; /* =20px */

		.logo {
			padding: 1.56rem 0;
			text-align: center;
		}
	}

	// Image on right side in login pages
	&.container--image {
		width: 60%;
		min-height: 100vh;
		background-image: url(/img/login-background.jpg);
		background-repeat: no-repeat;
		background-position: top left;
		background-size: cover;
	}

	&.container--reset, &.container--code, &.container--newpass {
		padding-top: 1.25rem;
	}
}

// Go back button with left arrow
.container__back {
	float: left;
	width: 22.5%;

	// Go back button with left arrow for login pages
	&.container__back--login {
		float: none;
		display: block;
		line-height: 4.5rem;
		text-align: right;
	}

	.container__back-link {
		font-family: $font-bold;
		font-size: 1rem;
		color: $color1;

		&:hover {
			color:$color2;
		}

		// Left arrow icon
		&:before {
			content: "\e91c";
			position: relative;
			top: 0.1rem;
			display: inline-block;
			width: 32px;
			font-family: $font-icon;
			text-align: center;
		}
	}
}

// Left arrow in go back button
.container__back-icon.icon-back {
 	padding-right: 14px;
 	color: $color1;
}

// Link for help
.container__help-link {
	display: block;
	transition: color 0.5s;
	padding-top: 5rem; /* =80px */
	font-size: 1.125rem; /* =18px */
	text-align: center;
	color: $color4;

	&:hover {
		color: $color2;
	}
}