/*==========================================================================
FORM
==========================================================================*/

.form {
	margin: 0 auto;
	width: 55%;

	&.form--login {
		padding-top: 0.875rem; /* =14px */

		.form__label {
			margin-top: 1.5rem; /* =24px */
		}
	}

	&.form--reset {
		.form__button {
			margin-bottom: 6.875rem; /* =110px */
		}
	}

	&.form--code {
		.form__button {
			margin-bottom: 3.250rem; /* =52px */
		}
	}
}

.form__title {
	font-size: 1.125rem; /* =18px */
	line-height: 4.250rem; /* =68px */
	text-align: center;
	color: $color1;
}

.form__label {
	display: block;
	margin-top: 2rem; /* =32px */
	font-size: 0.875rem; /* =14px */
	line-height: 2rem; /* =32px */

	&.form__label--age {
		width: 50%;
		text-align: center;
	}

	&.form__label--center {
		text-align: center;
	}
}

// Icons shown in case of error or valid input
.form__label-icon.icon {
	float: right;
	line-height: 2rem; /* =32px */

	// Valid
	&.icon-check{
		color: $color2;
	}

	// Error
	&.icon-reject{
		color: $color9;
	}
}

// Bar showing password strenght
.form__label-bar {
	position: relative;
	top: 0.6rem;
	float: right;
	width: 72px;
	height: 0.5rem; /* =8px */
	background-color: $color7;
}

// Red bar for low security password
.form__label-bar-mask {
	display: block;
	width: 20%;
	height: 0.5rem; /* =8px */
	background-color: $color9;

	// Green bar for high security password
	&.form__label-bar-mask--green {
		background-color: $color2;
	}
}

.form__input {
	display: block;
	border: 2px solid transparent;
	width: 100%;
	background-color: $color7;
	font-size: 1.125rem; /* =18px */
	line-height: 4rem; /* =64px */
	text-align: center;

	&:focus {
		border: 2px solid $color4;
		outline: none;
	}

	&.form__input--password {
		letter-spacing: 0.375rem; /* =6px */
	}

	&::-webkit-input-placeholder {
		color: $color5;
		text-align: center;
		letter-spacing: initial;
	}
	&::-moz-placeholder {
		color: $color5;
		text-align: center;
		letter-spacing: initial;
	}
	&::-ms-input-placeholder {
		color: $color5;
		text-align: center;
		letter-spacing: initial;
	}
	&:-moz-placeholder {
		color: $color5;
		text-align: center;
		letter-spacing: initial;
	}
	&::placeholder {
		color: $color5;
		text-align: center;
		letter-spacing: initial;
	}

	&[type=number] {
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

// Red alert
.form__alert {
	display: none;
	font-size: 0.875rem; /* =14px */
	line-height: 4.5rem; /* =72px */
	text-align: center;
	color: $color9;

	//Green alert
	&.form__alert--green {
		color: $color2;
	}

	&.form__alert--active {
		display: block;
	}
}

// Buttons
.form__button {
	display: block;
	transition: border-color 0.5s, color 0.5s;
	margin-bottom: 0;
	border: 2px solid $color5;
	width: 100%;
	height: 4.25rem; /* =68px */
	background-color: $color8;
	font-size: 1.125rem; /* =18px */
	color: $color5;

	&:hover {
		border-color: $color2;
		color: $color2;
	}

	&.form__button--active {
		color: $color4;

		// Send again button that shows for 3s after click
		&.form__button--send-again {
			border-color: $color2;
		}
	}

	&.form__button--send-again {
		margin: 0 auto;
		width: 55%;
		height: 3.625rem; /* =58px */
		color: $color2;
	}
}

.form.form--profile {
	margin: 0 32px;
	width: auto;

	.form__column {
		float: left;
		width: 48%;
		margin-left: 2%;

		&.form__column--left {
			margin-left: 0;
		}
	}

	.form__label {
		margin: 0;
		padding-bottom: 0.75rem; /* =12px */
		line-height: normal;

		// Label for gender radio buttons
		&.form__label--radio {
			float: left;
			margin-bottom: 2rem;
			border: 2px solid $color8;
			width: 47%;
			padding: 0;
			font-family: $font-regular;
			line-height: 2.250rem; /* =36px */
			text-align: center;
			color: $color1;
			cursor: pointer;
			margin-left: -8px; /* we want to use a percentage gap so we remove the space occupied by the borders */

			&.form__label--radio--left {
				margin-left: 0;
				margin-right: 6%;
			}

			// Style on selected gender when profile is reader-only
			&.form__label--radio-selected {
				border-color: $color4;
				color: $color4;
			}
		}
	}

	// Style on inputs when profile is reader-only (p is replacing input)
	p.form__input {
		color: $color1;
	}

	.form__input {
		margin-bottom: 2rem; /* =32px */
		background-color: $color6;
		font-size: 1rem; /* =16px */
		line-height: 2.25rem; /* =38px */
		text-align: left;
		text-indent: 18px;

		// Hide radio button checkbox
		&.form__input--radio {
			display: none;

			// When we select a radio button
			&:checked + .form__label.form__label--radio {
				border-color: $color4;
				color: $color4;
			}

			&:disabled + .form__label.form__label--radio {
				cursor: auto;
			}
		}

		&.form__input--age {
			width: 50%;
			padding: 0;
			text-align: center;
			text-indent: 0;
			-moz-appearance: textfield;

			&::-webkit-input-placeholder {
				text-align: center;
			}
			&::-moz-placeholder {
				text-align: center;
			}
			&::-ms-input-placeholder {
				text-align: center;
			}
			:-moz-placeholder {
				text-align: center;
			}
			&::placeholder {
				text-align: center;
			}
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		&::-webkit-input-placeholder {
			text-align: left;
		}
		&::-moz-placeholder {
			text-align: left;
		}
		&::-ms-input-placeholder {
			text-align: left;
		}
		&:-moz-placeholder {
			text-align: left;
		}
		&::placeholder {
			text-align: left;
		}
	}
}

.form.form--client {
	    margin: 0 32px;
    	width: auto;
    	font-size: 0;

	.form__column {
		&.form__column--picture {
			display: inline-block;
			vertical-align: top;
			width: 24%;
			height: 8.625rem;
			padding-top: 2rem;
			background: url(/img/porter_logo_white-bg.svg) no-repeat center center;
			background-size: cover;
			font-family: $font-regular;
			font-size: 1.5rem;
			text-align: center;
			cursor: pointer;

			&::-webkit-file-upload-button {
			  visibility: hidden;
			}

			&.form__column--picture--disabled {
				cursor: auto;
			}
		}

		&.form__column--picture-input {
			display: none;
		}

		&.form__column--right {
			display: inline-block;
			width: 34%;
			padding-left: 4%;
		}

		&.form__column--zip {
			display: inline-block;
			width: 33%;
		}

		&.form__column--country {
			display: inline-block;
			width: 49%;
			padding-left: 18%;
		}

		.form__label {
			margin: 0;
			padding-bottom: 0.75rem; /* =12px */
			line-height: normal;
		}

		.form__input {
			margin-bottom: 2rem; /* =32px */
			background-color: $color6;
			font-size: 1rem; /* =16px */
			line-height: 2.25rem; /* =38px */
			text-align: left;
			text-indent: 18px;

			&::-webkit-input-placeholder {
				text-align: left;
			}
			&::-moz-placeholder {
				text-align: left;
			}
			&::-ms-input-placeholder {
				text-align: left;
			}
			&:-moz-placeholder {
				text-align: left;
			}
			&::placeholder {
				text-align: left;
			}
		}

		// Style on inputs when profile is reader-only (p is replacing input)
		p.form__input {
			color: $color1;
		}
	}
}

.table__row .table__column.form.form--places-list {
	position: relative;
	margin: 0;
	font-size: 0;

	.form__input {
		margin-left: -2px; /* to compensate the border */
		line-height: 2.5rem; /* =40px */
		text-align: left;
		text-indent: 18px;
		color: $color1;

		&::-webkit-input-placeholder {
			text-align: left;
		}
		&::-moz-placeholder {
			text-align: left;
		}
		&::-ms-input-placeholder {
			text-align: left;
		}
		&:-moz-placeholder {
			text-align: left;
		}
		&::placeholder {
			text-align: left;
		}
	}

	&.form--active .form__button {
		display: block;
	}

	.form__button {
		position: absolute;
		top: 0;
		left: 96%;
		display: none;
		border: 2px solid $color2;
		box-sizing: content-box;
		width: 84px;
		height: 2.5rem; /* =40px */
		padding: 0;
		font-size: 0.875rem; /* =14px */
		color: $color2;
		transition: background-color 0.5s, color 0.5s;

		&:hover {
			background-color: $color2;
			color: $color1;
		}
	}
}
