/*==========================================================================
NAVBAR
==========================================================================*/

.menu {
	position: relative;
	margin: 0 32px;
	border-bottom: 2px solid $color7;
	padding: 2.65rem 0;
	font-size: 0;
}

// Logo Porter
.menu__logo {
	vertical-align: middle;
	max-width: 180px;
	width: 15%;
}


// Triangular bottom part of speach bubble
.menu__error-top {
	position: absolute;
	top: 6.45rem;
	left: 20px;
	content: "";
	display: block;
	margin: 0 auto;
	border-bottom: 0.5rem solid $color5;
	border-right: 0.375rem solid transparent;
	border-left: 0.375rem solid transparent;
	width: 0;
	height: 0;
}

.menu__error {
	position: absolute;
	top: 6.875rem; /* =6+8px */
	left: 0;
	width: 232px;
	height: 8rem;
	border-radius: 4px;
	background-color: $color5;
	text-align: center;
	color: $color1;
}

.menu__error-title {
	display: block;
	margin-top: 0.750rem;
	font-family: $font-bold;
	font-size: 1.125rem; /* =18px */
	line-height: 2.250rem; /* =36px */
}

.menu__error-message {
	display: block;
	font-family: $font-regular;
	font-size: 1.125rem; /* =18px */
	padding: 0.875rem 0; /* =14px */
}

.menu__error-link {
	font-family: $font-bold;
	font-size: 1.125rem; /* =18px */
	color: $color2;
}

// Main menu
.menu__list {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 60%;
	padding-left: 4.60%; /* =60px */
}

.menu__item {
	display: inline-block;
	padding-top: 0.3rem; /* to compensate for bottom empty space from the font */
	padding-left: 5rem;
	text-align: center;

	.menu__link{
		font-family: $font-bold;
		font-size: 1.125rem; /* =18px */
		color: $color5;
		transition: color 0.5s;

		&:hover,  {
			color: $color2;
		}

		&.menu__link--active {
			color: $color2;
		}
	}
}

.menu__profile {
	position: relative; /* to have menu__open and menu__logout with position absolute */
	float: right;
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	text-align: right;
}

// Menu icon before clicking
.menu__icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.125rem; /* =18px */
	text-align: center;
	color: $color5;
	cursor: pointer;
	transition: color 0.5s;

	&:hover {
		color: $color4;
	}
}

// User photo or letter
.menu__photo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 16px;
	border-radius: 50%;
	width: 58px;
	height: 58px;
	background-color: $color6;
	font-family: $font-bold;
	font-size: 1.125rem; /* =18px */
	line-height: 58px;
	text-align: center;
	color: $color4;
}

// Hides expanded menu
.menu__open {
	position: absolute;
	top: -2.65rem;
	right: 90px; /* Same as profile picture total width */
	z-index: 1;
	display: none;
	vertical-align: middle;
	width: 172px; /* Same width occupied by the regular menu icon */
	background-color: $color6;
	text-align: center;
	cursor: pointer;

	// Shows expanded menu when clicked
	&.menu__open--active {
		display: block;
	}
}

// Menu icon after clicking
.icon.icon-menu_active {
	&:before {
		display: inline-block;
		margin: 3.6rem 0 4.4rem;
		font-size: 1.750rem;
		color: $color2;
	}
}

.menu__open-list {
	margin: 0;
	padding: 0;
}

.menu__open-item {
	display: block;
	margin-bottom: 2rem; /* =32px */
	line-height: 1.625rem; /* =26px */
}

.menu__open-link {
	text-decoration: none;
	font-family: $font-bold;
	font-size: 1.250rem; /* =20px */
	color: $color1;
	transition: color 0.5s;

	&:hover {
		color: $color2;
	}
}

// Hides logout menu
.menu__logout {
	position: absolute;
	top: 0;
	right: 180px; /* Width of the parent + 8px for margin */
	display: none;
	vertical-align: middle;
	width: 220px;
	height: 100%;
	background-color: $color1;
	cursor: pointer;

	// Shows logout menu when clicked
	&.menu__logout--active {
		display: block;
	}
}

.menu__logout-question {
	margin: 3rem 0 4.8125rem;
	font-family: $font-regular;
	font-size: 1.5rem;
	color: $color5;
}

.menu__logout-button {
	border: 2px solid $color5;
	width: 80px;
	height: 2rem; /* =32px */
	background-color: transparent;
	font-family: $font-bold;
	font-size: 1rem;
	color: $color5;
	transition: all 0.5s;

	&:hover {
		background-color: $color5;
		color: $color1;
	}

	&.menu__logout-button--inverse {
		margin-left: 12px;
		background-color: $color5;
		color: $color1;

		&:hover {
			background-color: transparent;
			color: $color5;
		}
	}
}

// Hides delete menu
.menu__delete {
	position: absolute;
	top: 198px;
	right: 59px;
	display: none;
	vertical-align: middle;
	width: 220px;
	background-color: $color1;
	cursor: pointer;

	// Shows delete menu when clicked
	&.menu__delete--active {
		display: block;
	}
}

.menu__delete-question {
	margin: 2.188rem 0; /* =35px */
	font-family: $font-regular;
	font-size: 1.5rem;
	text-align: center;
	color: $color5;
}

.menu__delete-button {
	margin-bottom: 2rem; /* =32px */
	border: 2px solid $color5;
	width: 80px;
	height: 2rem; /* =32px */
	background-color: transparent;
	font-family: $font-bold;
	font-size: 1rem;
	color: $color5;
	transition: all 0.5s;

	&:hover {
		background-color: $color5;
		color: $color1;
	}

	&.menu__delete-button--inverse {
		margin-left: 12px;
		margin-right: 22px;
		background-color: $color5;
		color: $color1;

		&:hover {
			background-color: transparent;
			color: $color5;
		}
	}
}