/*==========================================================================
PAGE HEADER
==========================================================================*/
.page-header {
	display: table;
	width: 100%;
	height: 5rem;/* =80px */
}

.page-header__column {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	&.page-header__column--left {
		width: 25%;
		text-align: left;
	}

	&.page-header__column--right {
		width: 25%;
		text-align: right;
	}

	&.page-header__column--large {
		width: 75%;
	}

	&.page-header__column--left-places {
		width: 15%;
		text-align: left;
	}

	&.page-header__column--right-places {
		width: 85%;
		text-align: right;
	}
}

// Go back button with left arrow
.page-header__back-link {
	font-family: $font-bold;
	font-size: 1rem;
	color: $color1;

	&:hover {
		color:$color2;
	}

	// Left arrow icon
	&:before {
		content: "\e91c";
		position: relative;
		top: 0.1rem;
		display: inline-block;
		width: 32px;
		font-family: $font-icon;
		text-align: center;
	}
}

// Title for profile (user/ client/issue)
.page-header__title {
	display: inline;
	font-family: $font-bold;
	font-size: 2rem; /* =32px */
	color: $color1;
}

// Buttons
.page-header__button {
	transition: border-color 0.5s, color 0.5s;
	margin-left: 0.5rem;
	border: 2px solid $color6;
	height: 2.5rem; /* =40px */
	padding: 0;
	background-color: $color8;
	font-size: 1rem; /* =16px */
	line-height: 2.5rem; /* =40px */
	color: $color6;

	&.page-header__button--edit-profile {
		width: 186px;
		font-size: 0.875rem;
		color: $color4;
	}

	&.page-header__button--add-place {
		margin-left: 50px;
		width: 186px;
		font-size: 0.875rem;
		color: $color3;
// problem
		&:hover {
			border-color: $color3;
			color: $color3;
		}
	}

	&.page-header__button--save {
		width: 140px;

		&.page-header__button--save-place {
			width: 186px;
			font-size: 0.875rem;
		}
	}

	// Button when someone filled information and it can be saved
	&.page-header__button--save-active {
		width: 140px;
		color: $color2;
	}

	&.page-header__button--createaccount {
		width: 224px;

		&.page-header__button--createaccount-active {
			color: $color2;
		}
	}

	&.page-header__button--delete {
		position: relative;
		width: 80px;
		color: $color4;
		transition: none;

		&.page-header__button--delete-active {
			background-color: $color1;
			border-color: $color1;
		}
	}

	&:not(.page-header__button--delete):not(.page-header__button--add-place):hover {
		border-color: $color2;
		color: $color2;
	}

	// Space between button name and icon
	.page-header__button-icon {
	padding-left: 1.5rem;

		&.icon-delete{
			padding: 0;
			font-size: 1.125rem; //20px//
		}
	}
}

.page-header__icon {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	font-size: 1.75rem; /* =28px */
	text-align: center;
	color: $color4;
}

.page-header__list-name {
	padding-left: 1.25rem; /* =20px */
	font-family: $font-bold;
	font-size: 1rem; /* =16px */
	color: $color1;

	// Number of elements of the list
	.page-header__list-total {
		padding-left: 10px;
		font-family: $font-regular;
	}
}

.page-header__search-label {
	display: inline-block;
	margin: 0 0 0 3.125rem; /* =50px */
	padding-right: 20px;
	font-size: 0.875rem; /* =14px */
	line-height: 2rem; /* =32px */
	color: $color5;
}

.page-header__search-input {
	display: inline-block;
	width: 262px;
	background-color: $color6;
	font-size: 1rem; /* =16px */
	line-height: 2.5rem; /* =40px */
	text-align: left;
	text-indent: 18px;

	&::-webkit-input-placeholder {
		color: $color5;
		text-align: left;
	}

	&::-moz-placeholder {
		color: $color5;
		text-align: left;
	}

	&::-ms-input-placeholder {
		color: $color5;
		text-align: left;
	}

	&:-moz-placeholder {
		color: $color5;
		text-align: left;
	}

	&::placeholder {
		color: $color5;
		text-align: left;
	}
}

// Dropdown filter options to list
.page-header__sort-select {
	width: 186px;
	border: none;
	border-radius: 0;
	padding-left: 18px;
	-webkit-appearance: none; //tira setas dentro
	-moz-appearance: none;
	appearance: none;
	background: url(/img/icon-down.svg) $color8 no-repeat 90% center;
	height: 2.5rem;
	font-family: $font-regular;
	color: $color4;
	border: 2px solid $color6;

	&:focus {
		outline: none;
	}
}