/*==========================================================================
PAGE COLUMN
==========================================================================*/
.page-column {
	float: left;
	vertical-align: top;
	width: 52.5%;
	min-height: 33.5rem; /* =536px */
	background-color: $color7;

	&.page-column--right {
		width: 47%;
		margin-left: 0.5%;
	}

	&.page-column--full {
		width: 100%;
	}

	// 3 columns per page
	&.page-column--homepage {
		margin-left: 5%;
		width: 30%;
		min-height: 32.750rem; /* =524px */
	}

	// Column for homepage graph
	&.page-column--homepage-larger {
		width: 65%;
		min-height: 32.750rem; /* =524px */
	}

	//Clear margins
	&.page-column--nomargin {
		margin: 0;
	}
}

.page-column__coming-soon {
	position: relative;

	.page-column__coming-soon-logo {
		float: right;
		height: 32.750rem;/* =524px */
	}

	.page-column__coming-soon-text {
		position: absolute;
		top: 249px;
		left: 68px;
		font-family: $font-bold;
		font-size: 1.5rem;
		color: $color4;
	}
}

.page-column__header {
	margin: 0 32px;
	padding: 1.688rem 0;
}

.page-column__header-title {
	font-family: $font-bold;
	font-size: 1.125rem; /* =18px */
	color: $color3;
}

// Text "registered in"
.page-column__header-date {
	float: right;
	font-family: $font-bold;
	font-size: 0.75rem; /* =12px */
	color: $color5;

	// Date
	&.page-column__header-date--light {
		color:$color4;
	}
}

.page-column__no-results {
	padding: 5.031rem 0; /* =80.5px */
	font-size: 1.250rem; /* =20px */
	text-align: center;
	color: $color1;
}

.page-column__add-result {
	margin-left: 2%;
	border: 2px solid $color8;
	width: 96%;
	height: 3.5rem; /* =56px */
	background-color: transparent;
	color: $color4;
	transition: border-color 0.5s, color 0.5s;

	.page-column__add-result-icon {
		font-size: 1.125rem; /* =18px */
	}

	&:hover{
		color: $color3;
		border-color: $color3;
	}
}