/*==========================================================================
TABLE
==========================================================================*/

.table {
	font-size: 0; /* to avoid white space */

	// Horizontal lenght/ Vertical lenght/ Blur Radius/ Spread Radius
	&.table--shadow {
		-webkit-box-shadow: 0px 5px 10px 0px rgba(23,29,42,0.05);
		-moz-box-shadow: 0px 5px 10px 0px rgba(23,29,42,0.05);
		box-shadow: 0px 5px 10px 0px rgba(23,29,42,0.05);
	}

	&.table--admin-account {
		margin-bottom: 1.125rem; /* =18px */
	}
}

.table__column {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	// Column Company for User Profile
	&.table__column--user-company {
		width: 24%;
		padding-right: 12px;
	}

	// Column Place for User Profile
	&.table__column--user-place {
		width: 33%;
		padding-right: 12px;
	}

	// Column Role for User Profile
	&.table__column--user-role {
		width: 16%;
		padding-right: 12px;
		text-align: center;
	}

	// Column Last Access for User Profile
	&.table__column--user-lastaccess{
		width: 19%;
		text-align: center;
	}

	// Column Online for green online dot in User List Page
	&.table__column--user-list-online {
		width: 2.5%;
		text-align: center;
	}

	// Column Name and Location in User List Page
	&.table__column--user-list-name,
	&.table__column--user-list-location {
		width: 17%;
		padding-right: 1%;
	}

	// Column Email and Phone in User List Page
	&.table__column--user-list-email,
	&.table__column--user-list-phone {
		width: 20%;
		padding-right: 1%;
	}

	// Column Registry in User List Page
	&.table__column--user-list-registry {
		width: 15%;
	}

	// Column with Right Arrow icon in User List Page
	&.table__column--user-list-arrow {
		width: 4.5%;
	}

	// Column on top with stats in Homepage
	&.table__column--homepage-stats {
		width: 50%;
	}

	// Column on top with stats from issues in Homepage
	&.table__column--homepage-stats-issues {
		width: 100%;
	}

	// Two First Columns with snippet in Homepage
	&.table__column--homepage-snippet {
		width: 34%;
		padding-right: 4%;
	}

	// Last Column with snippet in Homepage
	&.table__column--homepage-snippet-right {
		width: 24%;
	}

	// Column with Plus/ Minus icon to expande/reduce in Places List
	&.table__column--places-list-toexpand {
		width: 4.5%;
		padding-right: 4.5%;
		text-align: right;
	}

	// Column Client in Places List
	&.table__column--places-list-client {
		width: 16%;
	}

	// Column Place in Places List
	&.table__column--places-list-place {
		overflow: visible;
		width: 21%;
		padding-left: 1%;
		line-height: 1.15;
	}

	// Column Doors and Users in Places List
	&.table__column--places-list-doors,
	&.table__column--places-list-users {
		width: 15%;
		text-align: center;
	}

	// Column Data Created in Places List
	&.table__column--places-list-created {
		width: 15%;
		text-align: center;
		padding-right: 1%;
	}

	// Column Edit in Places List
	&.table__column--places-list-edit {
		width: 7%;
		text-align: center;
	}

	// Column Restrictions and users in Places List
	&.table__column--places-list-restrictions,
	&.table__column--places-list-users-expanded {
		width: 15%;
		text-align: center;
	}

	// Column Move in Places List
	&.table__column--places-list-move {
		width: 4%;
		text-align: center;
	}

	// Column Access in Places List
	&.table__column--places-list-access {
		width: 6%;
		text-align: center;
	}

	// Column Door in Places List
	&.table__column--places-list-door {
		overflow: visible;
		width: 21.5%;
		padding-left: 3%;
		padding-right: 1%;
		line-height: 1.15;
	}

	// Column Data Created Expanded in Places List
	&.table__column--places-list-created-expanded {
		width: 15%;
		text-align: center;
		padding-right: 1%;
	}

	// Column Edit Expanded in Places List
	&.table__column--places-list-edit-expanded {
		width: 7%;
		text-align: center;
	}

	// Column name in Admin Accounts on Client Profile
	&.table__column--admin-account-name {
		width: 27%;
		padding-right: 2%;
	}
	// Column email in Admin Accounts on Client Profile
	&.table__column--admin-account-email {
		width: 41%;
	}
	// Column name in Admin Accounts on Client Profile
	&.table__column--admin-account-close {
		width: 30%;
		text-align: right;
	}
}

.table__row {
	display: block;
	padding: 1.438rem 32px; /* =23px */

	// Hover when clickable row in table list
	&:hover .table__column-icon.icon.icon-right {
		transition: color 0.5s;
		color: $color2;
	}

	.table__column {
		font-family: $font-regular;
		font-size: 1rem; /* =16px */
		color: $color1;
	}

	// Table Header
	&.table__row--table-head {
		padding: 1rem 32px; /* =16px */

		.table__column {
			font-family: $font-bold;
			font-size: 0.875rem; /* =14px */
			color: $color5;
		}
	}

	// Row lighter background odd numbers
	&.table__row--light {
		background-color: $color6;
	}

	// Bigger font for full-width tables
	&.table__row--bigfont {
		position: relative;

		.table__column {
			font-size: 1.125rem; /* =18px */
		}
	}

	// Smaller font for expanded lists
	&.table__row--smallfont {
		.table__column {
			font-size: 0.875rem; /* =14px */
		}
	}

	// Statistics Homepage header
	&.table__row--stats-head {
		padding: 1.125rem 0 0; /* =18px */

		.table__column {
			padding: 0.688rem 0; /* =11px */
			font-family: $font-bold;
			text-align: center;
			color: $color4;
		}
	}

	// Statistics Homepage number
	&.table__row--stats-number {
		padding: 0;

		.table__column {
			padding: 0.563rem 0; /* =7px */
			text-align: center;
			font-size: 2.5rem; /* =40px */
		}
	}

	// List snippet header in Homepage
	&.table__row--snippet-head {
		margin-top: 1.125rem; /* =18px */
		padding: 0 24px;

		.table__column {
			padding-top: 0.625rem; /* =10px */
			padding-bottom: 0.625rem; /* =10px */
			font-family: $font-bold;
			font-size: 0.875rem; /* =14px */
			color: $color5;
		}
	}

	// List snippet in Homepage
	&.table__row--snippet {
		padding: 0 24px;

		.table__column {
			padding-top: 1.250rem; /* =20px */
			padding-bottom: 1.250rem; /* =20px */
		}
	}

	// List snippet bottom in Homepage
	&.table__row--snippet-bottom {
		padding: 0 24px;

		.table__column {
			padding-top: 1.250rem; /* =20px */
			padding-bottom: 1.250rem; /* =20px */

			.table__see {
				font-family: $font-bold;
				font-size: 0.875rem; /* =14px */
				line-height: 1rem;
				color: $color5;

				&:hover {
					color:$color2;
				}

				.table__see-link, .icon.icon-see {
					display: inline-block;
					vertical-align: middle;
				}

				.icon.icon-see {
					width: 32px;
					height: 1rem;
				}
			}
		}
	}

	// Style for pendent admin accounts
	&.table__row--pendent {
		.table__column--admin-account-name,
		.table__column--admin-account-email,
		.icon-close {
			color: $color5;
		}
	}
}

.table__column-icon {
	cursor: pointer;

	&.icon-right {
		color: $color4;
	}

	&.icon-expand {
		vertical-align: middle;
		color: $color4;
	}

	&.icon-edit {
		vertical-align: middle;
		transition: color 0.5s;
		font-size: 0.375rem; /* =6px */
		color: $color4;

		&:hover {
			color:$color3;
		}

		&.icon-edit-expanded {
			font-size: 0.37rem;
		}
	}

	&.icon-access {
		display: inline-block;
		vertical-align: middle;
		transition: border-color 0.5s, color 0.5s;
		width: 60px;
		border: solid $color8 1px;
		font-size: 1.25rem; /* =20px */
		line-height: 1.875rem; /* =30px */
		color: $color4;

		&:hover {
			border-color: $color3;
			color:$color3;
		}
	}

	&.icon-move {
		vertical-align: middle;
		transition: color 0.5s;
		font-size: 0.625rem; /* =10px */
		color: $color4;
		cursor: move;

		&:hover {
			color: $color3;
		}
	}

	&.icon-close {
		color: $color4;
		transition: color 0.5s;

		&:hover {
			color:$color3;
		}
	}
}

// Table list in pages with filter
.table.table--list {
	overflow: hidden;

	.table__row {
		padding: 0;
		line-height: 4.5rem; /* =72px */
		background-color: $color7;

		// Save button for places list
		.form__button {
			background-color: $color6;

			&:hover {
				background-color: $color2;
			}
		}

		// Input for places list
		.form__input {
			background-color: $color6;

			&[disabled] {
				background: none;
			}
		}


		&.table__row--table-head {
			line-height: 3.875rem; /* =62px */

			.table__column--places-list-place {
				text-indent: 18px;
			}
		}

		&.table__row--light {
			background-color: $color6;

			// Save button for places list
			.form__button {
				background-color: $color7;

				&:hover {
					background-color: $color2;
				}
			}

			// Input for places list
			> form > .form__input {
				background-color: $color7;

				&[disabled] {
					background: none;
				}
			}
		}

		&.table__row--dropzone {
			border: 2px dashed $color3;
			overflow: hidden;

			.table__expanded:after {
				display: none;
			}
		}
	}

	// Expanded version of the table
	.table__expanded {
		position: relative;
		width: 100%; /* So the percentages of the children are relative to the main table. */

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 88%;
			display: block;
			width: 1%;
			height: 100%;
			background: $color7;
		}

		&.table__row {
			display: none; /* Only shows when table__row--is-expanded */
			padding: 0 1% 4rem 11.5%;
			background-color: $color7;

			// Row that will include the group of doors in places list
			.table__row--table-grouphead {
				border-bottom: 2px solid $color8;
				padding-top: 0.5rem; /* until we add group doors */
			}

			.table__row--table-head {
				line-height: 3rem; /* =48px */

				.table__column {
					font-size: 0.875rem; /* =14px */

					&.table__column--places-list-door {
						text-indent: 18px;
					}
				}
			}

			.table__row--smallfont {
				position: relative;
				line-height: 3.375rem; /* =54px */

				// Green pointers left side of expanded table
				&:before {
					content: "";
					position: absolute;
					left: -34px;
					top: -1.688rem; /* =27px */
					display: inline-block;
					border-bottom: 2px solid $color3;
					border-left: 2px solid $color3;
					width: 22px;
					height: 3.55rem; /* =56px */
				}

				&.table__row--hide-before {
					border: 2px dashed $color3;

					&:before {
						display: none;
					}

					&:after {
						content: "";
						position: absolute;
						right: 0;
						top: 0;
						display: inline-block;
						width: 12.5%;
						height: 100%;
						z-index: 2;
						background-color: $color7;
					}

					&.table__row--light:after {
						background-color: $color6;
					}
				}

				.table__column {
					vertical-align: middle;
				}
			}
		}
	}

	// Adds this class to row that was clicked - Displays expanded version of the table
	.table__row--is-expanded {
		.table__column-icon.icon.icon-expand {
			color: $color3;

			// Changes icon to icon-reduce
			&:before {
				content: "\e931";
			}
		}

		.table__expanded.table__row {
			display: block;
		}
	}
}