/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/proximanova-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/proximanova-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/proximanova-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('fonts/proximanova-semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/proximanova-semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/proximanova-semibold.woff') format('woff'), /* Modern Browsers */
         url('fonts/proximanova-semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

